<!-- ********** Pedroza Moranchel Luis Fernando ********** -->
{%extends "header.html"%}
{% load static %}

{%block title%} Extras {%endblock%}

{%block content%}
<body id="fondo">
    <div id="contenedorEX">
        <div id="cartasEX">
            <iframe width='400' height='315' src='https://www.adultswim.com/player/embed/AW3fOK581YiBSfg0KX1u'
                frameborder='0' allowfullscreen></iframe>
            <h4>Episode pitch - Slave of the scorpion</h4>
        </div>
        <div id="cartasEX">
            <iframe width='400' height='315' src='https://www.adultswim.com/player/embed/AW3fMkLdadNs2hMNfuUQ'
                frameborder='0' allowfullscreen></iframe>
            <h4>Episode pitch - The night feeder</h4>
        </div>
        <div id="cartasEX">
            <iframe width='400' height='315' src='https://www.adultswim.com/player/embed/AW3fN-AQadNs2hMNfuUR'
                frameborder='0' allowfullscreen></iframe>
            <h4>Episode pitch - Coven of the damned</h4>
        </div>
        <div id="cartasEX">
            <iframe width='400' height='315' src='https://www.adultswim.com/player/embed/AW3fMIsj1YiBSfg0KX1s'
                frameborder='0' allowfullscreen></iframe>
            <h4>Episode pitch - Plague of madness</h4>
        </div>
        <div id="cartasEX">
            <iframe width='400' height='315' src='https://www.adultswim.com/player/embed/AW2r7O2e1YiBSfg0KXlf'
                frameborder='0' allowfullscreen></iframe>
            <h4>Episode pitch - A cold death</h4>
        </div>
        <div id="cartasEX">
            <iframe width='400' height='315' src='https://www.adultswim.com/player/embed/AW2TUX3wadNs2hMNfuMD'
                frameborder='0' allowfullscreen></iframe>
            <h4>Episode pitch - Spear and fang</h4>
        </div>
    </div>
</body>
{%endblock%}