<!-- ********** Pedroza Moranchel Luis Fernando ********** -->
{% load static %}
<!DOCTYPE html>
<html>
    <!-- ********** ENCABEZADO ********* -->
    {% include './header.html' %}
<body id="fondo">
    <!-- ********** CUERPO ********* -->
    <div id="contenedor">
        <div id="cartas">
            <img src="{%static 'image/spear.png'%}" alt="SPEAR">
            <h4>SPEAR</h4>
            <p>
                Un hombre de las cavernas cuya tragedia comienza con la muerte de su esposa y sus dos hijos. Este evento
                violento es la fuente de su continua lucha interna para encontrar la paz, y aunque supera su depresión
                suicida inicial, Spear todavía está aprendiendo a sobrellevar la pérdida. Debido a este trauma, Spear
                encuentra una perfecta compañera en Fang, pero a diferencia de ella, él desea que sea un binomio, que
                ella es reacia a serlo al principio. Finalmente, Spear desarrolla un vínculo profundo con la
                tiranosaurio y está dispuesto a hacer cualquier sacrificio personal para protegerla. Con la voz de Aaron
                LaPlante
            </p>
        </div>
        <div id="cartas">
            <img src="{%static 'image/fang.jpg'%}" alt="">
            <h4>FANG</h4>
            <p>
                Un tiranosaurio hembra cuya tragedia comienza con la muerte de sus hijos. A diferencia de Spear, que
                todavía está traumatizado y lidia con el dolor por la ausencia de sus seres queridos, Fang puede hacer
                frente a la pérdida de sus hijos más rápido. Al ser un tiranosaurio, primero es impulsada por el
                instinto, lo que puede causar mucha tensión entre ella y Spear, pero generalmente se resuelve con poca
                consecuencia. Sin embargo, esta tendencia natural llega a un punto crítico cuando ella instintivamente
                intenta afirmar su dominio sobre Spear, pero finalmente se da cuenta de que es mucho más saludable
                trabajar como equipo que con una mentalidad de manada. Sin embargo, a medida que pasa el tiempo, su
                vínculo con Spear crece hasta el punto en que hará cualquier cosa para garantizar su supervivencia.
            </p>
        </div>
        <div id="cartas">
            <img src="{%static 'image/mira.png'%}" alt="">
            <h4>MIRA</h4>
            <p>
                Una Homo sapien alta, calva y femenina que es esclavizada por un clan guerrero y se convierte en aliada
                de Spear y Fang. Con la voz de Laëtitia Eïdo
            </p>
        </div>
    </div>
    <!-- ********** PIE DE PAGINA ********* -->
    {% include './footer.html' %}
</body>

</html>